{% extends 'components/base.html' %}

{% block content %}
    <p>
        <a href="{% url 'components:home' %}">Association of Mechanical Engineering</a><br>
        <a href="{% url 'components:home' %}">c2</a><br>
        <a href="{% url 'components:home' %}">c3</a><br>
        <a href="{% url 'components:home' %}">c4</a><br>
        <a href="{% url 'components:home' %}">c5</a><br>
        <a href="{% url 'components:home' %}">c5</a><br>
        <a href="{% url 'components:home' %}">c6</a><br>
        <a href="{% url 'components:home' %}">c7</a><br>
        <a href="{% url 'components:home' %}">c8</a><br>

    </p>
{% endblock content %}